@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cursiveLigne;
  src: url("../../public/fonts/EcritureB-Romain-Ligne.otf");
}

@font-face {
  font-family: cursiveOrne;
  src: url("../../public/fonts/EcritureA-Romain-Orne.otf");
}

@font-face {
  font-family: cursiveRomain;
  src: url("../../public/fonts/EcritureB-Romain.otf");
}

@font-face {
  font-family: cursiveItalique;
  src: url("../../public/fonts/EcritureB-Italique.otf");
}


@font-face {
  font-family: belleAllure;
  src: url("../../public/fonts/BelleAllureCM-Fin.otf");
}